version: "3.9"
services:
  registry:
    build: ./registry
    container_name: registry
    restart: on-failure
    ports:
      - 8761:8761
  coupon-app:
    build: ./couponService
    container_name: coupon-app
    restart: on-failure
    ports:
      - 9091:9091
    depends_on:
      - mysql
      - registry
  mysql:
    container_name: mysql
    image: mysql
    restart: always
    environment:
      MYSQL_DATABASE: mydb
      MYSQL_ROOT_PASSWORD: password
      MYSQL_ROOT_HOST: '%'
    volumes:
      - ./sql:/docker-entrypoint-initdb.d
    ports:
      - "3306:3306"
    healthcheck:
      test: "/usr/bin/mysql --user=root --password=password --execute \"SHOW DATABASES\""
      interval: 4s
      timeout: 20s
      retries: 5